* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    background-color: #F9FAFB;
    overflow: hidden;
}

img {
    height: 100vh;
}

.right {
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
}

.details-container {
    display: flex;
    width: auto;
    align-items: center;
    background-color: white;
}

form {
    display: flex;
    width: 430px;
    flex-wrap: wrap;
}

.form-header {
    margin-top: 10px;
    padding-right: 100px;
}

.input-container {
    display: flex;
    width: min-content;
    flex-wrap: wrap;
}

.details-container label {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 2px;
}


form>* {
    margin-left: 30px;
    margin-bottom: 20px;
}



p {
    font-weight: 600;
    padding-bottom: 20px;
    word-wrap: break-word;
    width: fit-content;
    font-size: large;
    padding-left: 30px;
}

button {
    border: none;
    background-color: rgb(14, 71, 49);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 5rem;
    width: fit-content;
    border-radius: 10px;
    margin: 30px;
}

p:last-child {
    font-weight: 500;
    font-size: small;
}

:link {
    color: rgb(88, 94, 12);
    text-decoration: none;
}

input {
    padding: 5px 0;
}

#user_email:valid,
#ph_no:valid {
    border: 2px solid green;
}

#user_email:invalid,
#ph_no:invalid {
    border: 2px solid red;
}

input:focus {
    outline: none;
    border-color: blue;
}